{% extends "layout.html" %}

{% block head %}
<style>
    p.name {
        margin-top: 100px;
        font-size: 4em;
    }

    p.drops {
        margin-top: 100px;
        font-size: 3em;
    }

    p.sub-drops {
        font-size: 2.5em;
    }

    span.rank {
        opacity: 0.7;
    }
</style>
{% endblock %}

{% block content %}
<p class="name">
    {{ stats.name }}
</p>
<p class="drops">
    {{ stats.drops }} ubers dropped <span class="rank">#{{ stats.drops_rank }}</span>.
</p>
<p class="sub-drops">
    {{ stats.dpg() }} drops per game <span class="rank">#{{ stats.dpg_rank }}</span>.
</p>
<p class="sub-drops">
    {{ stats.dpm() }} drops per hour <span class="rank">#{{ stats.dps_rank }}</span>.
</p>
<p class="sub-drops">
    {{ stats.dpu() }} drops per uber <span class="rank">#{{ stats.dpu_rank }}</span>.
</p>
{% endblock %}