{% extends "layout.html" %}

{% block head %}
<style>
    div.name {
        margin-top: 100px;
        position: relative;
    }

    p.name {
        font-size: 4em;
    }

    p.name a {
        color: #ccc;
    }

    p.name a:focus {
        outline: none;
    }

    p.drops {
        margin-top: 100px;
        font-size: 3em;
    }

    p.sub-drops {
        font-size: 2.5em;
    }

    span.rank {
        opacity: 0.7;
    }

    p.home {
        margin: 0;
        font-size: 3em;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    p.home a, p.home a:focus {
        text-decoration: none;
        color: white;
        outline: none;
    }

    ul.dropdown.hidden {
        display: none;
    }

    ul.dropdown {
        display: block;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        background: #222;
        text-align: left;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 0;
        margin: 0;
        min-width: 150px;
    }

    ul.dropdown li {
        padding: 5px;
    }

    ul.dropdown a {
        color: #ccc;
        font-size: 1.5em;
    }
</style>
{% endblock %}

{% block content %}
<p class="home">
    <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
            <path d="M30 16.5h-18.26l8.38-8.38-2.12-2.12-12 12 12 12 2.12-2.12-8.38-8.38h18.26v-3z" fill="#ccc"/>
        </svg>
    </a>
</p>
<div class="name">
    <p class="name">
        <a href="#" id="namelink">{{ stats.name }}</a>
    </p>
    <ul class="dropdown hidden" id="dropdown">
        <li><a href="https://steamcommunity.com/profiles/{{ stats.steam_id64() }}">Steam</a></li>
        <li><a href="https://etf2l.org/search/{{ stats.steam_id64() }}">ETF2L</a></li>
        <li><a href="https://www.ugcleague.com/players_page.cfm?player_id={{ stats.steam_id64() }}">UGC</a></li>
        <li><a href="https://logs.tf/profile/{{ stats.steam_id64() }}">Logs</a></li>
        <li><a href="https://demos.tf/profiles/{{ stats.steam_id64() }}">Demos</a></li>
        <li><a href="https://rgl.gg/Public/PlayerProfile.aspx?p={{ stats.steam_id64() }}">RGL</a></li>
    </ul>
</div>
<p class="drops">
    {{ stats.drops }} ubers dropped <span class="rank">#{{ stats.drops_rank }}</span>.
</p>
<p class="sub-drops">
    {{ "{:.2}"|format(stats.dpg()) }} drops per game <span class="rank">#{{ stats.dpg_rank }}</span>.
</p>
<p class="sub-drops">
    {{ "{:.2}"|format(stats.dpm()) }} drops per hour <span class="rank">#{{ stats.dps_rank }}</span>.
</p>
<p class="sub-drops">
    {{ "{:.2}"|format(stats.dpu()) }} drops per uber <span class="rank">#{{ stats.dpu_rank }}</span>.
</p>
{% endblock %}

{% block end %}
<script>
    const dropDown = document.getElementById('dropdown');
    const nameLink = document.getElementById('namelink');

    nameLink.addEventListener('click', function(e) {
        e.stopPropagation();
        e.preventDefault();

        dropDown.classList.toggle('hidden');
    });

    dropDown.addEventListener('click', function(e) {
        e.stopPropagation();
    });

    document.body.addEventListener('click', function(e) {
        dropDown.classList.add('hidden');
    });
</script>
{% endblock %}